:root {
    --accent-color-blue: rgb(87, 137, 179);
}

.container {
    /* border: rgba(255, 255, 255, 0.2) solid 1px; */
    margin: 100px auto 10px;
    min-width: 350px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 12px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
    text-shadow: var(--accent-color-blue) 0px 0px 5px;
}

form {
    display: flex;
}

.movie-list {
    width: 100%;
}

.movie-list ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

.movie-card {
    border:rgba(255, 255, 255, 0.2) solid 1px;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0 0.25rem 1rem;
    min-height: 3rem;
    min-width: 320px;
    max-width: 100%;
    touch-action: manipulation;
}

.movie-card label {
    align-self: center;
}

.drag-handle {
    width: 44px;
    height: 40px;
    color: rgba(145, 172, 195, 0.4);
    cursor: grab;
    align-self: center;
    padding: 8px 4px 2px 10px;
    margin: 0 10px;
    transform: 
        rotate(90deg)
        scale(1.3);
}

.drag-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.error-msg {
    display: flex;
    width: 100%;
    height: min-content;
    padding-left: 1rem;
    font-weight: 600;
    margin: -8px 0 -10px;
    color:rgb(218, 65, 65);
    letter-spacing: 1.25px;
}

.card-controls {
    display: flex;
}

.trashcan {
    width: 46px;
    height: 40px;
    color: var(--accent-color-blue);
    cursor: pointer;
    align-self: center;
    padding: 12px 8px 6px 6px;
}

.trashcan:hover {
  color: rgb(218, 65, 65);
  outline: none;
}

.addForm label, .searchForm label {
    position: absolute;
    left: -99999px;
}

footer {
    width: 100%;
    padding: 0.25em;
    display: grid;
    place-content: center;
    font-size: .75rem;
    color: whitesmoke;
}

.addForm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
}

.addForm input[type='text'] {
    flex-grow: 1;
    max-width: calc(100% - 50px);
    min-height: 48px;
    font-size: 1rem;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    outline: none;
    border:rgba(255, 255, 255, 0.2) solid 1px;
}

button {
    height: 48px;
    min-width: 48px;
    border-radius: 0.25rem;
    padding-top: 4px;
    font-size: 1rem;
    background-color: papayawhip;
    color: var(--accent-color-blue);
    cursor: pointer;
    border:rgba(255, 255, 255, 0.2) solid 1px;
}
